/* Estilo general de la página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ff007f; /* Rosa fuerte */
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Estilo para el formulario */
#nameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    font-size: 1.2rem;
    margin: 10px;
    border: none;
    border-radius: 5px;
    text-align: center;
    width: 250px;
}

button {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #fff;
    color: #ff007f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f50060; /* Rosa más oscuro al pasar el ratón */
    color: white;
}

/* Estilo para el mensaje de bienvenida */
#welcomeMessage {
    font-size: 1.5rem;
    margin-top: 20px;
    display: none;
    color: #fff;
}
